{% extends 'layout.html' %}

{% block content %}
<div class="timeline">
	<form action="/auth/login" id="login-form" method="post">
		<div class="input-group">
			<label for="login-email">이메일</label>
			<input type="email" id="login-email" name="email" />
		</div>
		<div class="input-group">
			<label for="login-password">비밀번호</label>
			<input type="password" id="login-password" name="password" />
		</div>
		<button id="login-btn" class="btn" type="submit">로그인</button>
	</form>
</div>
<script>
	window.onload = () => {
		if (new URL(location.href).searchParams.get('loginError')) {
			alert(new URL(location.href).searchParams.get('loginError'));
		}
	};
</script>
{% endblock %}